@model EmailServerViewModel 
@{
    ViewData["Title"] = "Create Page";
}


<div class="container">
    <h1>Create connection</h1>
    <form asp-controller="Create" asp-action="CreateEmailConnection" method="get">
    <p>
        <input type="text" asp-for="Email" class="input-group-text"/>
        <select asp-for="Server" asp-items="Model.ServerName">
            
        </select>
    </p>
    <input type="text" asp-for="Password" class="input-group-text"/>
    <button type="submit" class="btn-outline-dark">Connect</button>
    </form>
</div>